.background{
  background-color:dodgerblue;
}

.register {
  display: block;
  width: 25%;
  border: none;
  background-color:dodgerblue;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color:#17365d;
}
@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');

.star-holder {
  text-align:center;
  float:center;
	margin: 5px;
	font-size:16px;
  color:royalblue;
  width:250px;
  height:150px;
  border: 3px groove royalblue;
  border-radius:5px;
  scroll:none;
  padding:10px 0px 10px 0x;
}
.star-holder .goal-progress {
  margin-left:auto;
  margin-right:auto;
   display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40%;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
}

.star-holder .star-table {
  margin-top:0px;
  padding-top:0px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50%;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;
}
.input-color {
    position: relative;
    display: inline-block;
    float:left;
}
.input-color .leg {
  border-right:1px solid black;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
}
.input-color .leg-last { 
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
}
.input-color .color-box {
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
}
.input-color .label {
  	color:black;
    padding-left:10px;
    display: inline-block;
    border-right:1px; black;
}
#overview-legend {
	padding-right:0px;
}
/*Input div style*/
.wrap-input {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 30px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

/* Textarea div full width */
#regUI > div.container-fluid > div:nth-child(2) > div > div > div.form-group.shiny-input-container {
	width:100%;
}
.shiny-input-container:not(.shiny-input-container-inline) {
	width:100%;
}
.inputs > tr > td {
padding: 1px;
}
.inputs {
	text-align: center;
}
#inttable table {border-collapse:collapse;}
#hist_prev .plot-container .svg-container .main-svg {padding-left: 8px;overflow: visible;}
#hist_current .plot-container .svg-container .main-svg {padding-left: 12px;overflow: visible;}
/*2019-12-07 1010 Fit Intervention Progress Panel header to button*/
#progress-panel {height:50px;}
.value-box {
    border-radius: 4px;
    position: relative;
    display: block;
    margin-right: 8px;
    margin-bottom: 8px;
    box-shadow: 2px 4px 1px rgba(0, 0, 0, 0.1);
    margin-left: 8px;
}